apiVersion: apps/v1
kind: Deployment
metadata:
  name: boardgame-deployment
  namespace: davana-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: boardgame
  template:
    metadata:
      labels:
        app: boardgame
    spec:
      containers:
        - name: boardgame
          image: davana4602/board_game:1
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: boardgame-ssvc
  namespace: davana-ns
spec:
  type: NodePort
  selector:
    app: boardgame
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30008

